{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">
  <div class="card">
    <h1>Dashboard</h1>
    <div class="info">
      <h3>Hello {{ session['user']['name'] }}</h3>
      <p>Your info:</p>
      <p>email: {{ session['user']['email'] }}</p>
      <p>public key: </p>
      <textarea id="public-key">{{ session['user']['public_key'] }}</textarea>
    </div>

    <a href="/user/signout" class="btn">Sign out</a>
  </div>

  <div class="card">
    <h1>Make donation</h1>
    <p>Your balance: {{ session['user']['balance'] }} CT (Charity Tokens)</p>
    <form name="donation-form">
      <label for="amount">
        Amount:
        <input type="number" name="amount" id="amount">
      </label>
      <label for="private-key">
        Private key:
        <textarea name="private-key" id="private-key"></textarea>
      </label>
      <div class="error hidden"></div>
      <button type="submit" class="submit-btn">Donate</button>
    </form>
  </div>
</div>
{% endblock %}