{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">
    <div class="card">
      <div class="register">
        <h1>Create your account</h1>
        <form action="" name="signup-form">
          <label for="name">
            Name:
            <input
              type="text"
              name="name"
              id="name"
            >
          </label>
          <label for="email">
            Email:
            <input
              type="email"
              name="email"
              id="email"
            >
          </label>
          <label for="password">
            Password:
            <input
              type="password"
              name="password"
              id="password"
            >
          </label>
          <div class="error hidden"></div>

          <input type="submit" value="Sign up" class="submit-btn">
        </form>
      </div>
      <div class="successful-register hidden">
        <h2>This is your private key. Store it in a safe place, you will need it to confirm transactions</h2>
        <textarea id="private-key"></textarea>
        <button id="continue-btn">Continue</button>
      </div>
    </div>

    <div class="card signin">
      <h1>Sign in</h1>
      <form action="" name="signin-form">
        <label for="email">
          Email:
          <input
            type="email"
            name="email"
            id="email"
          >
        </label>
        <label for="password">
          Password:
          <input
            type="password"
            name="password"
            id="password"
          >
        </label>
        <div class="error hidden"></div>
        <input type="submit" value="Sign in" class="submit-btn">
      </form>
    </div>
  </div>
{% endblock %}